<navbar></navbar>
<sidebar></sidebar>
<div class="container-base">
  <div class="content-page">
    <div class="card-header">
      <div class="card-title">Cadastro de Categorias</div>
    </div>
    <form class="form-page" [formGroup]="categoryForm" (submit)="send()">
      <div class="row">
        <div class="row-group">
          <label for="system">Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite o nome do sistema" formControlName="name" required />
          <label class="error-input" *ngIf="categoryForm.get('name')?.errors?.['required']&&categoryForm.get('name')?.touched">Campo obrigatório!!!</label>
        </div>
      </div>
      <div class="row">
        <div class="row-group">
          <label for="system">Sistema</label>
          <ng-select class="select-standard" [(ngModel)]="systemsSelect" [items]="systemsList" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false"  ></ng-select>
        </div>
      </div>

      <div class="row">
        <div class="row-group">
          <input type="submit" value="Salvar" class="btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
